.topic{
  background-color:#FF885B;
}

#sidebar-css{
  background-color:#FFE5CF;
}

.heading-writings{
  text-shadow: 1px 1px 2px wheat;
}

  span{ 
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:40px;
  font-variation-settings:
    "MORF" 0;
  color:teal;
 } 

#mine-image{
  height:400px
}

.background-img{
  background-image: url(./images/coconut\ pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}

#font-about{
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

.projects-container{
  background-color:#FFE5CF;
}